<section class="c-about">
    <div class="c-about__text">
        <h2>About Dewi</h2>
        <p>
            Passionate about origami for more than 10 years and more recently by textile pleating, Dewi Brunet has developed strong skills
            and knowledge of folding. He believes a simple fold can help us understand better our world and improve
            it with applied innovations. He is always eager to teach and share the multiple bridges between folding,
            science, architecture, technology and fashion.
        </p>
    </div>
    <div class="c-about__origami c-about__origami-1" style="background-image: url(/assets/images/origami-1.jpg);">
        <img src="/assets/images/origami-1-shapes.svg" alt="origami-shapes" class="c-about__origami-image">
    </div>
    <div class="c-about__origami c-about__origami-2" style="background-image: url(/assets/images/origami-2.jpg);">
        <img src="/assets/images/origami-2-shapes.svg" alt="origami-shapes" class="c-about__origami-image">
    </div>
    <div class="c-about__text">
        <p>
            Dewi Brunet exhibits his work, organizes workshops, creates interior design, sell objects and contributes to events. His
            folding style is modern, abstract, organic and geometric. You can take direct contact with him for any
            project or idea you would like to implement, or visit his Instagram or Facebook page for an overview
            of his work.
        </p>
    </div>
</section>