<section class="c-projects">
    <div class="l-container-small">
        <h2>Latest projects</h2>
        <div class="c-projects__project">
            <h3>In architecture</h3>
            <div class="c-projects__project-grid">
                <div class="c-projects__project-text">
                    <p> For the 2017 and 2018 edition of ReACT by Design at the University of Antwerp in Belgium, Dewi
                        Brunet proposed to work on nomad architecture. A group of 15 students were invited during
                        one week to produce large structure using the opportunities of folding. Lightweight, fast
                        prototyping, cheap, transportable and adaptable were all the advantages folding bought in
                        order to rethink the way we can produce and live architecture.</p>
                    <p>Dewi Brunet will continue to teach such workshops and aim to collaborate with enterprises to
                        produce nomad folded structure on larger scale.</p>

                </div>
                <img src="/assets/images/archi-1.jpg" srcset="/assets/images/archi-1-694.jpg 694w, /assets/images/archi-1-347.jpg 347w" sizes="(max-width: 768px) calc(100vw - 4rem) (max-width: 992px) calc(50vw - 8rem), 347px"
                    alt="architecural origami" class="c-projects__project-image">
                <video width="100%" autoplay loop muted src="/assets/others/archi-video.mp4">
                    <source type="video/webm" src="/assets/others/archi-video.webm">
                    <source type="video/mp4"src="/assets/others/archi-video.mp4">
                </video>
                <img src="/assets/images/archi-2.jpg" srcset="/assets/images/archi-2-694.jpg 694w, /assets/images/archi-2-347.jpg
                        347w" sizes="(max-width: 768px) calc(100vw - 4rem) (max-width: 992px) calc(50vw - 8rem), 347px"
                    alt="architecural origami" class="c-projects__project-image">
                <img src="/assets/images/archi-3.jpg" srcset="/assets/images/archi-3-694.jpg 694w, /assets/images/archi-3-347.jpg
                        347w" sizes="(max-width: 768px) calc(100vw - 4rem) (max-width: 992px) calc(50vw - 8rem), 347px"
                    alt="architecural origami" class="c-projects__project-image">
            </div>
        </div>
        <div class="c-projects__project">
            <h3>In fashion</h3>
            <div class="c-projects__project-grid-alt">
                <img src="/assets/images/fashion-1.jpg" srcset="/assets/images/fashion-1-694.jpg 694w, /assets/images/fashion-1-347.jpg
                        347w" sizes="(max-width: 768px) calc(100vw - 4rem) (max-width: 992px) calc(50vw - 8rem), 347px"
                    alt="fasion origami" class="c-projects__project-image">
                <img src="/assets/images/fashion-2.jpg" srcset="/assets/images/fashion-2-694.jpg 694w, /assets/images/fashion-2-347.jpg
                        347w" sizes="(max-width: 768px) calc(100vw - 4rem) (max-width: 992px) calc(50vw - 8rem), 347px"
                    alt="fasion origami" class="c-projects__project-image">
                <div class="c-projects__project-text">
                    <p> Dewi Brunet is exploring new folding opportunities through fabric pleating. He is using for this
                        a very unique process, nowadays limited to a few craftsmen working mainly for haute couture.
                        This new folding skill enabled him to explore a new range of possible applications, including
                        the creation of a “resilient dress” for pregnant women. For 2018 he obtained an annual grant
                        from the TAMAT, Contemporary art centre of textiles of the Federation Wallonia-Brussels where
                        he is able to develop is research.</p>
                    <p> Dewi intends to teach textile pleating at university in design, fashion or textile and to produce
                        a first series of objects to sell.</p>
                </div>
                <img src="/assets/images/fashion-3.jpg" srcset="/assets/images/fashion-3-694.jpg 694w, /assets/images/fashion-3-347.jpg
                        347w" sizes="(max-width: 768px) calc(100vw - 4rem) (max-width: 992px) calc(50vw - 8rem), 347px"
                    alt="fasion origami" class="c-projects__project-image">
            </div>
        </div>
    </div>
</section>