<section class="c-projects">
    <div class="l-container-small">
        <h2>Latest project</h2>
        {% collections.projects[0].data.title %}
        <ul>
            {%- for project in collections.projects -%}
            <li>{{ project.data.title }}</li>
            {%- endfor -%}
        </ul>
        {# <div class="c-projects__project">
            {% include "project-a.njk" %}
        </div>
        <div class="c-projects__project">
            {% include "project-b.njk" %}
        </div> #}
    </div>
</section>