.c-footer {
  padding: 2rem 0;

  .l-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .c-social-buttons__button {
      margin: 0;
    }
  }
}

.c-footer__copyright {
  font-size: 1.4rem;
}
