.c-social-buttons {
  display: flex;
  font-size: 0;
}

.c-social-buttons__button + .c-social-buttons__button {
  margin-left: 2rem;
}

.c-social-buttons__icon {
  fill: $brand-color;
  width: 40px;
  transition: fill 0.2s ease-in-out;

  @include from-up(large) {
    width: 60px;
  }

  &:focus,
  &:hover {
    fill: $brand-dark;
  }
}
