*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

header,
section {
  padding: 4rem 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 4rem;

  @include from-up(large) {
    font-size: 6rem;
  }
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

p,
label,
input,
textarea,
button {
  font-size: 1.8rem;
  line-height: 2;
}

p {
  margin-top: 0;
}

textarea {
  font-family: "Open Sans", sans-serif;
}

img[data-src] {
  transform: translateY(10%);
  opacity: 0;
  transition: all 1s ease-in-out;

  &.loaded {
    transform: none;
    opacity: 1;
  }
}
