.c-footer {
  padding: 2rem 0;

  .l-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-social-buttons__button + .c-social-buttons__button {
    margin-left: 1rem;

    @include from-up(large) {
      margin-left: 0;
    }
  }
}

.c-footer__copyright {
  font-size: 1.4rem;
}
