.c-form {
  background-color: $brand-color;
  color: #fff;
}

.c-form__form-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.c-form__form-group-half {
  @include from-up(large) {
    width: 50%;
  }
}

.c-form__form-group-full {
  width: 100%;
}

.c-form__label,
.c-form__input {
  display: block;
  width: 100%;
}

.c-form__input {
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  @include from-up(large) {
    margin-bottom: 0;
  }
}

.c-form__input--error {
  outline: 4px solid red;
}
