<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Dewi Origami</title>
    <meta name="description" content="The portfolio site of origami artist Dewi Brunet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="favicon.png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97476357-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-97476357-1');
    </script>
</head>

<body>
    {% include "header.njk" %}

    <main>

        {% include "about.njk" %}

        {% include "projects.njk" %}

        {% include "form.njk" %}
        
    </main>

    {% include "footer.njk" %}
    
    <script src="./index.js"></script>
</body>

</html>